<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <h4>
                        Realizado por Guillermo Garcia Mendieta <br><br>
                        Aplicaciones Web Escalables<br><br>
                        2024<br><br>
                    </h4>
                    
                    <button class="btn btn-outline-dark" routerLink="">Regresar a la pagina principal</button>
                </div>
            </div>
        </div>
    </div>
</div>
